

*{
    box-sizing: border;
    padding: 0;
    margin: 0;
}

body {
    width: 1140px;
    margin: 0 auto;
    background-color: hsl(210, 46%, 95%);

}


.white {
    color: white;
}

.light {
    color: hsl(0, 0%, 81%);
    font-weight: 500;
}

.gray {
    color: gray;
}

.header {
    color: hsl(219, 29%, 14%);
}

#name {
    color: hsl(219, 29%, 14%);
}
.card1{
    background-color: hsl(263, 55%, 52%);
    background-image: url(images/bg-pattern-quotation.svg);
    background-position: calc(80%) top;
    background-repeat: no-repeat;
}

.card2 {
    background-color: hsl(217, 19%, 35%);
}
.card4{
    background-color: hsl(219, 29%, 14%);
}

.card3,.card5{
    background-color: #fff;
}

.main {
    display: grid;
    justify-content: center;
    margin: 100px 0;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.card {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    /* box-shadow: 0px 5px 10px 1px rgb(20, 19, 19); */
}

.bold-text {
    font-weight: bold;
}

.small-text {
    font-size: 14px;
}

.job {
    font-size: 14px;
    font-size: 300;
    color: gray;
}
.name {
    color: hsl(0, 0%, 81%);;
}

.img-text {
    display: flex;
    gap: 10px;
}

.img img {
    border-radius: 50%;
}

    
.card1 { 
    grid-area: 1 / 1 / 2 / 3; 
}
.card2 { 
    grid-area: 1 / 3 / 2 / 4; 
}
.card3 { 
    grid-area: 2 / 1 / 3 / 2; 
}
.card4 { 
    grid-area: 2 / 2 / 3 / 4; 
}
.card5 { 
    grid-area: 1 / 4 / 3 / 5; 
}


.attribution { font-size: 11px; text-align: center;
padding: 20px; }
.attribution a { 
    color: hsl(228, 45%, 44%);
    font-size: 16px; 
}



@media only screen and (max-width:600px) {

    body,main,html{
        width: 92%;
    }
    .main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0 20px 20px;
    }

    .card {
        width: 100%;
    }


}